body {
  background-image: url('./images/th.jpg');/* Replace with your image file path */
  background-color:rgba(0,255,0,0.3);
  background-color:blur(5px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif; /* Replace with your preferred font */
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: rgb(252, 249, 249);
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .main-content {
    padding: 10px;
  }
}
